<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34697956063-oeop27ip8ue6e4locrhimsrkbb8jq5ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34697956063-oeop27ip8ue6e4locrhimsrkbb8jq5ph</string>
	<key>API_KEY</key>
	<string>AIzaSyAhH65iUBsbCYhD-cZmDksVSD8p_P_z4h0</string>
	<key>GCM_SENDER_ID</key>
	<string>34697956063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jonny.cooking</string>
	<key>PROJECT_ID</key>
	<string>recipemaker-885f6</string>
	<key>STORAGE_BUCKET</key>
	<string>recipemaker-885f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34697956063:ios:87a713bde2af0c376c376a</string>
	<key>DATABASE_URL</key>
	<string>https://recipemaker-885f6.firebaseio.com</string>
</dict>
</plist>